@page
@model IndexModel
@{
    ViewData["Title"] = "Battleship";
}

<div class="text-center">
    <h1 class="display-4" onclick="window.location.href = '/Game/Play?startNew=@true&id=1' ">Start new game</h1>
    <h1 class="display-4" onclick="window.location.href = '/Game/Load' ">Load game</h1>
    <h1 class="display-4" onclick="window.location.href = '/Game/configurations' ">Load Configs</h1>
    <h1 class="display-4" onclick="window.location.href = '/Game/Settings' ">Settings</h1>
</div>