@page
@model WebApplication1.Pages_Ingredients.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Ingredient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Ingredient.IngredientId" />
            <div class="form-group">
                <label asp-for="Ingredient.Name" class="control-label"></label>
                <input asp-for="Ingredient.Name" class="form-control" />
                <span asp-validation-for="Ingredient.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredient.Category" class="control-label"></label>
                <input asp-for="Ingredient.Category" class="form-control" />
                <span asp-validation-for="Ingredient.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredient.Location" class="control-label"></label>
                <input asp-for="Ingredient.Location" class="form-control" />
                <span asp-validation-for="Ingredient.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredient.Amount" class="control-label"></label>
                <input asp-for="Ingredient.Amount" class="form-control" />
                <span asp-validation-for="Ingredient.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredient.Unit" class="control-label"></label>
                <input asp-for="Ingredient.Unit" class="form-control" />
                <span asp-validation-for="Ingredient.Unit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
